<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
<body>
    <%-include('./partials/nav.ejs') %>
    <div class="about content">
        <h1>About Us</h1>
        <p>View engines help developers separate the presentation
            logic (HTML markup) from the application logic (server-side code).
            This separation of concerns makes it easier to maintain and 
            scale web applications because developers can work on the
            frontend (HTML and UI) independently of the backend 
            (server-side logic). It also allows for the reuse of 
            templates across multiple pages in a web application.
        </p>
    </div>
    <%-include('./partials/footer.ejs') %>    
</body>
</html>