<nav>
    <div class="introduction">
        <h1>BLOGS CENTER</h1>
        <P>BLOGS</P>
    </div>
    <UL>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </UL>
</nav>